# ================================
# Gradle
# ================================
.gradle/
build/
out/

# ================================
# Fabric / Loom
# ================================
run/
run-server/
run-client/
logs/
crash-reports/
config/
mods/
world/
saves/

# ================================
# IntelliJ IDEA
# ================================
.idea/
*.iml
*.ipr
*.iws
out/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Eclipse
# ================================
.project
.classpath
.settings/

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Java
# ================================
*.class

# ================================
# Misc
# ================================
*.jar
!gradle/wrapper/gradle-wrapper.jar
.github
libs